body {
    background: #213555;
    color: #F5EFE7;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

h1 {
    font-family: monospace;
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

label {
    font-size: 1.2rem;
    font-weight: 600;
}

input {
    max-width: 350px;
    width: 90%;
    height: 30px;
    border-radius: 20px;
    background: #F5EFE7;
    padding: 5px;
    font-size: 1.2rem;
    color: #3E5879;
    text-align: center;
}

img {
    width: 90%;
    max-width: 350px;
    margin-top: 30px;
    border-radius: 10px;
}

#generate_button {
  appearance: button;
  backface-visibility: hidden;
  background-color: #D8C4B6;
  color: #3E5879;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 10%;
}

#generate_button:disabled {
  cursor: default;
}

#generate_button:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}